@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background:linear-gradient(80deg,#75BDFE,#80E8ED);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

input{
    background-color: white;
    height: 24px;
    width: 40%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.226);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    color: rgb(51, 51, 51);
}

button{
     padding: 8px;
    background-color: aliceblue;
    border-radius: 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    color: rgb(51, 51, 51);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#empty{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

/*vise élément créer dans le Js*/

.product{
     padding: 8px;
    background-color: aliceblue;
    border-radius: 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    color: rgb(51, 51, 51);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}